@model HomeModel
@{
    ViewData["Title"] = "Initial Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<div class="text-center mt-3">
    <h1 class="display-4 text-info welcome">Welcome, @Model.Name</h1>
</div>

<div class="text-center">
    <p class="fs-2 text-secondary">if (motivation.status() == false) { motivation.start(); me.beeAwesome(motivation);}</p>
    <span class="fs-4 text-dark">Here, you can register your candidates, just like me! And thanks for the opportunity!</span>
</div>
