@model HomeModel
@{
    ViewData["Title"] = "Initial Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<div class="text-center mt-3">
    <h1 class="display-4 text-info welcome">Welcome!</h1>
</div>

<div class="text-center"> 
    <span class="fs-2 text-dark">Here, you can register your candidates.</span>
</div>
